name: Release Please

on:
  push:
    branches:
      - main

env:
  PLUGIN_ID: tag-navigator

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.PAT }}
          target-branch: main
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
  build:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
      - name: Build
        id: build
        run: |
          npm ci
          npm run build
          mkdir ${{ env.PLUGIN_ID}}
          cp manifest.json main.js styles.css ${{ env.PLUGIN_ID }}
          zip -r ${{ env.PLUGIN_ID }}.zip ${{ env.PLUGIN_ID }}
      - name: Upload release artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: gh release upload ${{ needs.release-please.outputs.tag_name }} manifest.json main.js styles.css ${{ env.PLUGIN_ID }}.zip
